<div class="app">
  <h2>Curso Fullstack - Grade Curricular</h2>

  <div class="container-semestres">
    <div class="semestre">
      <h3 class="titulo">
        <span>1</span>
        semestre
      </h3>
      <ul class="disciplinas">
        <li>Introdução a Web</li>
        <li>Java</li>
        <li>Banco de Dados</li>
        <li>Git e Github I</li>
      </ul>
    </div>

    <div class="semestre">
      <h3 class="titulo">
        <span>2</span>
        semestre
      </h3>
      <ul class="disciplinas">
        <li>Introdução a Web</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Angular</li>
        <li>Git e Github II</li>
      </ul>
    </div>

    <div class="semestre">
      <h3 class="titulo">
        <span>3</span>
        semestre
      </h3>
      <ul class="disciplinas">
        <li>Integração Backend e Frontend</li>
        <li>Testes</li>
        <li>Deploy</li>
        <li>Projeto Final</li>
      </ul>
    </div>
  </div>
</div>
