<div class="app">
  <section>
    <h3>Próximas atividades</h3>
    <ul>
      <li>
        <p>Entrega de trabalho da disciplina X</p>
        <p><strong>Data: </strong>15/02/2024</p>
      </li>
      <li>
        <p>Avaliação da disciplina Y</p>
        <p><strong>Data: </strong>15/02/2024</p>
      </li>
      <li>
        <p>Chat com o mentor até a data Z</p>
        <p><strong>Data: </strong>15/02/2024</p>
      </li>
    </ul>
  </section>

  <section>
    <h3>Minhas disciplinas</h3>
    <ul>
      <li>
        <p><strong>Disciplina: </strong>HTML</p>
        <p><strong>Professor: </strong>Paulo dos Santos</p>
        <p><strong>Início: </strong>10/02/2024</p>
      </li>
      <li>
        <p><strong>Disciplina: </strong>CSS</p>
        <p><strong>Professor: </strong>Paulo dos Santos</p>
        <p><strong>Início: </strong>10/02/2024</p>
      </li>
      <li>
        <p><strong>Disciplina: </strong>Javascript</p>
        <p><strong>Professor: </strong>Paulo dos Santos</p>
        <p><strong>Início: </strong>10/02/2024</p>
      </li>
      <li>
        <p><strong>Disciplina: </strong>Angular</p>
        <p><strong>Professor: </strong>Paulo dos Santos</p>
        <p><strong>Início: </strong>10/02/2024</p>
      </li>
    </ul>
  </section>

  <section>
    <h3>Cursos Extras</h3>
    <ul>
      <li>
        <p>Workshop de Bootstrap</p>
        <p><strong>Data: </strong>15/02/2024</p>
        <p><strong>Carga Horária: </strong>6 horas</p>
      </li>
      <li>
        <p>Palestra sobre Linkedink/p></p>
        <p><strong>Data: </strong>15/02/2024</p>
        <p><strong>Carga Horária: </strong>2 horas</p>
      </li>
    </ul>
  </section>
</div>
